* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1 {
    font-family: 'Lobster', cursive;
}